cachetools==4.2.4
certifi==2021.5.30
charset-normalizer==2.0.6
google-api-core==2.0.1
google-api-python-client==1.5.1
google-auth==2.2.1
google-cloud-vision==2.4.4
googleapis-common-protos==1.53.0
grpcio==1.41.0
httplib2==0.19.1
idna==3.2
oauth2client==3.0.0
packaging==21.0
Pillow==3.3.0
proto-plus==1.19.2
protobuf==3.18.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==2.4.7
requests==2.26.0
rsa==4.7.2
simplejson==3.17.5
six==1.16.0
uritemplate==0.6
urllib3==1.26.7